<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        {% if request.path in ['/', '/login', '/register'] %}
        <div>
            <p><a href="/login">Login</a></p>
            <p><a href="/register">Register</a></p>
        </div>
        {% endif %}
        {% if request.path not in ['/','/login','/register'] %}
        <div><a href="{{url_for('logout')}}">Logout</a></div>
        {% endif %}
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>